.aboutUsContainer {
  display: flex;
  position: relative;
  justify-content: center;
  /* margin: 0px 15px; */
}

.aboutUsText {
  width: 50vw;
  font-size: 1.2em;
  color: white;
  margin: 10px;
  margin-left: 30px;
}

.aboutCompContainer {
  display: flex;
  position: relative;
  background-color: rgb(20, 44, 68);
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
  border: 3px solid;
  border-radius: 10px;
}

/* .aboutTilte p{
  font-size: 20px;
} */

.aboutTilte {
  font-size: 3em;
  display: flex;
  justify-content: center;
  color: white;
}

.boldText {
  font-size: 20px;
}

.missionAndVision {
  width: 50%;
  font-size: 1.2em;
  color: white;
  margin-left: 25px;
  margin-right: 40px;
  /* margin-right: 10px; */

  /* display: flex;
  width: 50vw;
  font-size: 1.2em;
  color: white;
  margin: 20px; */
}

.aboutUsText h1 {
  font-size: 18px;
  display: flex;
  font-weight: 700;
}

.missionAndVision h1 {
  font-size: 28px;
}

/* aboutCompContainer{
    background-color: rgb(20,44,68);
} */
