.footerContainer{
    display: flex;
    height: 480px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.firstCol{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 80px;
    padding-left: 170px;
}

/* .compInfo h1{
     font-size: 25px;
     font-weight: normal;
} */

.compInfo > :nth-child(1) {

    font-size: 20px;
    font-weight: normal;

}


.compInfo > :nth-child(2) {
    padding-top: -5px;
    font-size: 18px;
    font-weight: bold;
}

.compInfo > :nth-child(3) {
    font-size: 20px;
    font-weight: normal;
}

.compInfo > :nth-child(5) {
    padding-top: -5px;
    font-size: 18px;
    font-weight: bold;
}

.compInfo > :nth-child(6) {
    font-size: 14px;
    font-weight: lighter;
    margin-top: -10px;
    display: flex;
    justify-content: center;
}


.secondCol{
    margin-top: 80px;
    margin-left: 200px;
}

.secondCol p{
    font-size: 19px;
}

.navigationFileds >:nth-child(1){
    font-size: 25px;
    font-weight: bold;
    
}

.footerText{
    margin-top: 40px;
    margin-left: 300px;

}

.endText >:nth-child(1){
    font-size: 45px;
    color:  #27316c;
    font-weight: bolder;
}

.endText >:nth-child(2),.endText >:nth-child(3){
    font-size: 20px;
    margin-top: -25px;
}

.endText >:nth-child(4){
    font-size: 30px;
    font-style:italic;
    font-weight: bold;
}

.FooterKcsLogo{
    padding-left: -20px;
    height: 90px;
    width: 280px;
}

.FooterAllIcons{
    display: flex;
    gap: 10px;
    margin-top: -40px;
    font-size: 20px;
}

/* .footerLogo{
  margin-right: 300px;
}
 */
 /* .whatsapp{
    height: 50px;
    width: 50px;
 } */
