.footerContainer {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.firstCol {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  width: 33%;
}

.compInfo {
  text-align: center;
}

.compInfo > :nth-child(1) {
  font-size: 20px;
  font-weight: normal;
}

.compInfo > :nth-child(2) {
  font-size: 18px;
  font-weight: bold;
}

.compInfo > :nth-child(3) {
  font-size: 20px;
  font-weight: normal;
}

.compInfo > :nth-child(5) {
  padding-top: -5px;
  font-size: 18px;
  font-weight: bold;
}

.compInfo > :nth-child(6) {
  font-size: 14px;
  font-weight: lighter;
  margin-top: -10px;
  display: flex;
  justify-content: center;
}

.secondCol {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  width: 33%;
}

.secondCol p {
  font-size: 19px;
}

.navigationFileds > :nth-child(1) {
  font-size: 25px;
  font-weight: bold;
}

.footerText {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  width: 33%;
}
.endText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.endText > :nth-child(1) {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 2.5em;
  color: #27316c;
  font-weight: bolder;
}

.endText > :nth-child(2),
.endText > :nth-child(3) {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 20px;
}

.endText > :nth-child(4) {
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}

.FooterKcsLogo {
  height: 90px;
  width: 280px;
}

.FooterAllIcons {
  display: flex;
  gap: 10px;
  font-size: 20px;
}

.FooterAllIcons p {
  color: black;
}

.footerLogo {
  display: flex;
  justify-content: center;
}

/* .whatsapp{
    height: 50px;
    width: 50px;
 } */
