.scrolling-text {
  height: 60px;
  background-color: #1d2760;
  color: white;
  font-size: 20px;
  align-content: center;
}

scrolling-text p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.scrolling-container {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
}
